@font-face {
    font-family: 'Montserrat_Black';
    src: url('fonts/Montserrat-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat_Bold';
    src: url('fonts/Montserrat-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
