*{
  padding: 0;
  margin: 0;
}
.wrapper{
  height:3473px;
}
header{
  margin-top: 0.9%;
  margin-right:0;
  padding: 29px 0 29px 0;
  height: 1.1%;
  width: 91%;
  display:flex;
  justify-content: flex-end;
}
.liner{
  width: 100%;
  height: 3px;
  background: #330099;
}
.menu__item_first{
  margin-right: 0;
  text-decoration: none;
  color: #585858;
  font: 600 20px/24px 'Gilroy', arial, helvetica, sans-serif;
  padding: 13px 5px;
  transition: color .5s ease;
}
.menu__item_second{
  margin-right: 6px;
  text-decoration: none;
  color: #585858;
  font: 600 20px/24px 'Gilroy', arial, helvetica, sans-serif;
  padding: 13px 30px;
  transition: color .5s ease;
}
.menu__item_first:hover,.menu__item_second:hover{
  color: #330099;
}
.menu__item_third{
  text-decoration: none;
  margin-right: 0;
  color: #fff;
  background: #330099;
  border-radius: 50px;
  font: 800 20px/24px 'Montserrat', arial, helvetica, sans-serif;
  padding: 12px 30px;
  transition: background .5s ease;
}
.menu__item_third:hover{
  color: #fff;
  background: #FFDA45;
}
.burger{
  display: none;
}

/*Лицевой блок*/
.main{
  height: 481px;
  background: url(img/mainback.jpg) no-repeat;
  width: 100%;
  background-color: #dbba16;
  /*position: absolute;*/
}
.main__title{
  font: 900 40px/49px 'Montserrat', sans-serif;
  text-align: right;
  margin: 0 130px 10px 750px;
  padding-top: 149px;
  color: #330099;

}
.main__subtitle{
  font: 700 30px/36px 'Montserrat', sans-serif;
  text-align: right;
  margin-right: 130px;
  color: #fff;
  letter-spacing: 2px;
}

/*Почему*/
.why{
  height: 747px;
  /*margin-top: 481px;*/
  background: #F9F9F9;
}
.why__title-main, .what__title-main{
  font: 900 30px/36px 'Montserrat', sans-serif;
  text-align: center;
  align-items: center;
  padding-top: 89px;
  color: #585858;
  margin-bottom: 50px;
}
.why__items{
  display: flex;
  justify-content: center;
  margin-left: 55px;
  margin-bottom: 117px;
  margin-right: 55px;
  text-align: center;
}
.why__title_one{
  font: 900 30px/36px 'Montserrat', sans-serif;
  color: #585858;
  margin-bottom: 10px;
  padding-top: 37px;
  letter-spacing: 0.2px;
}
.why__title_two{
  font: 900 30px/36px 'Montserrat', sans-serif;
  color: #585858;
  margin-bottom: 30px;
  padding-top: 30px;
}
.why__title_last{
  padding-top: 0;
  font: 900 30px/36px 'Montserrat', sans-serif;
  color: #585858;
  margin-bottom: 10px;
  padding-right: 12px;
}
.why__subtitle{
  font: 400 20px/25px 'Montserrat', sans-serif;
  color: #585858;
}
.why__one,.why__two{
  margin-right: 140px;
}
.why__button{
  text-decoration: none;
  padding: 21px 37px;
  background: #330099;
  border-radius: 50px;
  color: #FFDA45;
  font: 800 20px/24px 'Montserrat', sans-serif;
  margin-left: 38%;
  transition: 1s ease;
}
.why__button:hover{
  background: #585858;
  color: #fff;
}

/*Что могу*/
.what__one,.what__two,.what__three{
  display: flex;
  align-items:center;
  padding-bottom: 78px;
}
.what__two{
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
.what{
  margin: 0 9%;
  height: 27.4%;
}
.what__title{
  font: 600 30px/36px 'Montserrat', sans-serif;
  color: #585858;
  padding-bottom: 10px;
}
.what__subtitle{
  font: 500 20px/24px 'Montserrat', sans-serif;
  color: #585858;
}
.what__text{
  padding: 0 25px;
}
.what__three{
  margin-bottom: 0;
}
.slider{
  display: none;
}

/*Форма*/
.questions{
  background: rgba(51, 0, 153, 0.12);
  margin:auto;
}
.question__main-title{
  font: 900 30px/36px 'Montserrat', sans-serif;
  text-align: center;
  align-items: center;
  padding: 59px 0 36px 0;
  color: #585858;
}
.img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 49px;
}
.title__form{
  font: 600 20px/24px 'Montserrat', sans-serif;
  text-align: center;
  color: #585858;
  margin: 0 540px 36px 540px;
  /*margin-bottom: 36px;*/
}
.form{
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}
.put{
  background: #FBFBFB;
  margin-bottom: 20px;
  padding: 26px 40px;
  border-radius: 50px;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  width: 300px;
  font: 600 15px/19px 'Montserrat', sans-serif;
  color: #858585;
}
.button__form{
  width: 300px;
  background: #4AB272;
  color: #fff;
  margin-bottom: 61px;
  padding: 23px 0;
  border-radius: 50px;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  font: 900 20px/25px 'Montserrat', sans-serif;
  cursor: pointer;
  transition: 1s ease;
}
.button__form:hover{
  background: #585858;
  color: #fff;
}

/*Подвал*/
.footer{
  background: #330099;
  text-align: center;
}
.footer__title{
  font: 400 20px/23px 'Roboto', sans-serif;
  color: #fff;
  padding-top: 60px;
  margin-bottom: 20px;
}
.social{
  margin-right: 100px;
}
.end{
  font: 400 20px/23px 'Roboto', sans-serif;
  color: #fff;
  padding-top: 76px;
  padding-bottom: 60px;
}

@media (max-width:320px) {
  .liner{
    display: none;
  }
  .menu__item_first,.menu__item_second{
      display: none;
  }
  .wrapper{
    width: 320px;
    /*height:auto;*/
  }
  header{
    padding: 0;
    height: 50px;
  }
  .menu{
    margin: 0;
    padding: 13px 31px 14px 0;
  }
  .menu__item_third{
    margin: 0;
    font: 800 8px/10px 'Montserrat', arial, helvetica, sans-serif;
    padding: 5px 11px;
  }

  .burger{
    display: block;
  }
  #menu__toggle{
      opacity: 0;
    }
    .menu__button {
      display: flex;
      align-items: center;
      position: fixed;
      top: 1.3%;
      left: 83.5%;
      width: 23px;
      height: 25px;
      cursor: pointer;
      z-index: 1;
    }
    .menu__button > span,
    .menu__button > span::before,
    .menu__button > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #330099;
    }
    .menu__button > span::before {
      content: '';
      top: -8px;
    }
    .menu__button > span::after {
      content: '';
      top: 8px;
    }
    .menu__burger {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      width: 100%;
      height: 20%;
      margin: 0;
      list-style: none;
      text-align: center;
      background-color: #e6eaeb;
      box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
      transition-duration: 0.5s;
    }
    .menu__item_burger {
      display: block;
      padding: 3px 0;
      color: #333;
      margin: 10px 0 30px 0;
      font: 700 16px/19px Roboto, arial, helvetica, sans-serif;
      text-decoration: none;
      transition-duration: 0.5s;
    }
    .menu__item_burger:first-child {
      margin-right: 0;
      margin-top: 12%;
    }
    #menu__toggle:checked ~ .menu__button > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__button > span::before {
      top: 0;
      transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__button > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__burger {
      visibility: visible;
      left: 0;
    }
    .bottom{
      display: none;
    }
    .menu__item_burger:hover{
      color: #330099;
      opacity: 30%;
   }



  /*Лицевой блок*/
  .main{
    /*height: 20%;*/
    background: url(img/mainback2.png) no-repeat;
    background-size: contain;
    width: 320px;
    height: 230px;
  }
  .main__title{
    font: 900 20px/24px 'Montserrat', sans-serif;
    text-align: right;
    margin: 0px 30px 2px 40px;
    color: #330099;
    padding-top: 25px;
  }
  .main__subtitle{
    font: 700 16px/19px 'Montserrat', sans-serif;
    text-align: right;
    margin-right: 30px;
    color: #fff;
    letter-spacing: 1px;
  }

  /*Почему*/
  .why{
    height: 907px;
    /*margin-top: 70%;*/
    background: #F9F9F9;
  }
  .why__title-main{
    font: 900 16px/19px 'Montserrat', sans-serif;
    padding-top: 49px;
    margin: 0 50px 42px 50px;
  }
  .why__img{
    height: 45px;
    width: 55px;
  }
  .why__items{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 17px;
    text-align: center;
  }
  .why__title_one{
    font: 900 16px/19px 'Montserrat', sans-serif;
    margin-bottom: 10px;
    padding-top: 3px;
    letter-spacing: 0.2px;
  }
  .why__title_two{
    font: 900 16px/19px 'Montserrat', sans-serif;
    margin-bottom: 30px;
    padding-top: 3px;
    margin-bottom: 10px;
  }
  .why__title_last{
    padding-top: 2px;
    font: 900 16px/19px 'Montserrat', sans-serif;
    margin-bottom: 10px;
    padding-right: 12px;
  }
  .why__subtitle{
    font: 500 16px/19px 'Montserrat', sans-serif;
    margin-bottom: 40px;
    letter-spacing: 0.5px;
  }
  .why__one,.why__two{
    margin-right: 0;
  }
  .why__button{
    padding: 16px 19px;
    font: 800 16px/19px 'Montserrat', sans-serif;
    margin-left: 10%;
  }

  /*Что могу*/
  .what__title-main{
    font: 900 16px/19px 'Montserrat', sans-serif;
    padding-top: 40px;
    margin: 0 50px 35px 50px;
  }
  .what__one,.what__two,.what__three{
    display: none;
  }
  .what{
    height: 15%;
  }
      /* СЛАЙДЕР*/
  .sliders{
    width: 320px;
    height: 372px;

  }
  .slider{
    display: block;
    margin: 0;
    padding: 0;
    height: 65%;
    overflow: hidden;
    border: 1px solid #000;
    display: flex;
    align-items: center;
  }
  .slide{
    padding: 17px 0;
    text-align: center;
  }

   #r2:checked ~ .s1{
     margin-top: -25%;
   }
   #r3:checked ~ .s1{
     margin-top: -50%;
   }

  .navigation{
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 130%;
    padding-left: 5%;
  }
  .bar{
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 16px;
    border: 1px solid #E1E6E9;
    transition: .5s ease;
  }
  .bar:checked{
    background: #FFDA45;
  }
  .input__mobile{
  display: none;
  }

  .what__title{
    font: 600 16px/19px 'Montserrat', sans-serif;
    padding-top: 7px;
    padding-bottom: 10px;
  }
  .what__subtitle{
    font: 500 14px/17px 'Montserrat', sans-serif;
  }

  /*Форма*/
  .questions{
    background: rgba(51, 0, 153, 0.12);
    margin:auto;
  }
  .question__main-title{
    font: 900 16px/19px 'Montserrat', sans-serif;
    padding: 31px 0 22px 0;
  }
  .img{
    margin-bottom: 26px;
  }
  .title__form{
    font: 600 16px/19px 'Montserrat', sans-serif;
    margin-bottom: 23px;
    margin-left: 36px;
    margin-right: 36px;
  }
  .put{
    margin-bottom: 8px;
    padding: 19px 25px;
    width: 260px;
    font: 600 10px/12px 'Montserrat', sans-serif;
  }
  .button__form{
    width: 260px;
    margin-top: 22px;
    margin-bottom: 31px;
    padding: 15px 0;
    font: 900 16px/19px 'Montserrat', sans-serif;
  }

  /*Подвал*/
  .footer__title{
    font: 500 14px/16px 'Roboto', sans-serif;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 14px;
  }
  .social{
    margin-right: 75px;
  }
  .img__socials{
    width: 35px;
    height: 35px;
  }

  .end{
    font: 400 14px/16px 'Roboto', sans-serif;
    padding-top: 44px;
    padding-bottom: 33px;
  }

}
